@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron&family=Press+Start+2P&display=swap');

$pokedex-color: #dd082d;
$pokemon-yellow: #ffcb05;
$pokemon-blue: #3466af;
$analog-font: 'Orbitron', sans-serif;
$pixelated-font: 'Press Start 2P', cursive;
$pokemon-font: 'Bangers', cursive;
