@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Orbitron&family=Press+Start+2P&display=swap');

$pokedex-color: #dd082d;
$pokemon-yellow: #ffcb05;
$pokemon-blue: #3466af;
$pokedex-orb-blue: #27abfc;
$pokedex-orb-border: #d6d6d6;

$retro-screen-color: #282828;
$retro-font-color: #33ff33;

$dark-black: #000;
$almost-black: #111;
$mid-black: #333;
$light-white: #fff;

$hover-blue-background: #eff;

$analog-font: 'Orbitron', sans-serif;
$pixelated-font: 'Press Start 2P', cursive;
$pokemon-font: 'Bangers', cursive;

$breakpoint-1: 800px;
$breakpoint-2: 650px;
$breakpoint-3: 500px;
$breakpoint-4: 450px;
$breakpoint-5: 400px;
$breakpoint-6: 380px;
