@import 'config';

// ************************************* Global Sections ************************************* //

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

main {
  background-color: $pokedex-color;
  max-width: 50vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}

article {
  width: 70%;
  position: relative;
  margin: 0 auto;
  background-color: white;
}

section {
}

// *************************************** Global Classes *************************************** //

.capitalize {
  text-transform: capitalize;
}

.flexbox {
  display: flex;
}

.vertically-center {
  margin-top: auto;
  margin-bottom: auto;
}

// ***************************************** Navigation ***************************************** //

nav {
  width: 66%;
  margin: 0 auto;
  padding: 1rem;

  // Search Box & Form
  .search-form {
    display: flex;
    form {
    }
    label {
    }
    input {
      height: 40px;
      width: 380px;
      border-radius: 20px;
      text-align: center;
      font-size: 1rem;
      outline: none;
      color: #33ff33;
      font-family: $analog-font;
      letter-spacing: 0.1rem;
      background-color: #282828;
    }
    .search-btn {
      margin-left: 1.2rem;
      border-radius: 10px;
      background-color: black;
      color: white;
      font-family: $analog-font;
      letter-spacing: 0.1rem;
    }
    button {
      width: 80px;
      height: 40px;
    }
    p.incorrect-search-text {
      color: red;
    }
  }
}

// Flexbox containing Arrow Buttons & Circles (A + B)
.control-buttons-flexbox {
  display: flex;
  justify-content: space-between;
}

// Nav Buttons to Prev, Next, or Random Pokemon
.arrow-buttons-flexbox {
  margin-top: 4rem;
  margin-left: 15%;
  .change-pokemon {
    display: inline-block;
    margin: 1rem;

    // button {
    //   display: inline-block;
    // }

    .arrow-btn {
      background-color: $pokedex-color;
      border: none;
      svg {
        width: 50px;
        height: 50px;
        background-color: $pokedex-color;
        path {
          fill: black;
        }
      }
    }
  }
}

// Circle Buttons (A & B)
.round-buttons-flexbox {
  margin-top: 3rem;
  margin-right: 15%;
  display: flex;
  flex-direction: column;
  width: 120px;
  .button-circle {
    width: 60px;
    height: 60px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:nth-child(1) {
      align-self: flex-end;
    }
    &:nth-child(2) {
    }
    p {
      color: white;
      font-family: $pixelated-font;
    }
  }
}

.convert-units-btn,
.toggle-shiny-btn {
  position: absolute;
  width: 150px;
  height: 36px;
  font-size: 0.7rem;
  color: white;
  background-color: black;
  border-radius: 12px;
  font-family: $analog-font;
  letter-spacing: 0.1rem;
}

.convert-units-btn {
  bottom: 30px;
  left: 30%;
}

.toggle-shiny-btn {
  bottom: 30px;
  right: 30%;
}

// Pokedex Embellishments
.blue-ball {
  background-color: #27abfc;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 5px solid #d6d6d6;
}

// *****************************************  Sections  ******************************************** //

// Title Card -------- Pokeball Sprite - Pokemon Name - Pokemon Number
.titlecard {
  margin-left: auto;
  margin-right: .5rem;
  margin-top: .5rem;
  width: 80%;
  border: 3px darkgray solid;
  border-radius: 5px;
  box-shadow: 0px 0px 2px 1px black;
  box-sizing: content-box;
  font-family: $pixelated-font;
  .flexbox {
    .pokeball-sprite {
      width: 70px;
      height: 70px;
      margin-top: -15px;
    }
    .vertically-center {
      h1 {
        font-size: 1.4rem;
      }
    }
  }
  .genus {
    text-align: right;
    h2 {
      font-size: 1.1rem;
    }
  }

  .btn-flexbox {
    display: flex;
  }

  // Genus ------ Genera data description
}

// Pokemon Images / Sprites  ------ (Regular & Shiny)
.sprites {
  display: flex;
  justify-content: center;
  .flexbox {
    img {
      width: 250px;
      height: 250px;
    }
  }
}

// Toggle Sprites Button ----- Toggles between regular and shiny sprite
.toggle-sprite {
  button {
  }
}

// Types ----- List of Pokemon's Types (Max 2)
.types {
  ul {
    list-style-type: none;
    display: flex;

    li {
      margin: 0.5rem;
      border-radius: 5px;
      border: 1px solid black;
      box-shadow: 0 0 2px 1px black;
      font-weight: 800;
      text-transform: uppercase;
      font-size: 1.1rem;
      color: white;
      text-align: center;
      font-family: Roboto, sans-serif;
      min-width: 3rem;
      padding: 0.5rem 1rem;
    }
  }
}

// Height and Weight ---- Measurements + Toggle Button between metric/imperial
.measurements {
  .flexbox {
    flex-direction: column;
    h3 {
    }
  }

  button {
  }
}

// Description ------ Pokemon description paragraph
.description {
  border-radius: 5px;
  margin: 0.5rem;
  padding: 0.5rem;
  p {
  }
}

// Pre-Evolution -------- Pokemon that evolves into current Pokemon, only visible if it exists
.pre-evolution {
  h4 {
  }
}

// Evolutionary Tree ----- Button to toggle full evolutionary tree (hidden by default)
.evolutionary-tree {
  button {
  }
}

// Super Section for Types & Measurements Flexbox
.types-measurements {
  margin-top: 1rem;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

// ******************************************* Div Subsections ***************************************** //

// Evolutions Container ----- Contains all of a Pokemon's evolutions
.evolutions {
  padding: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  // Single Evolution + Arrow Container
  .evolution-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  // Single Evolution Container ----- Clickable element linked to Pokedex entry
  .evolution-block {
    &:hover {
      cursor: pointer;
      size: 115%;
      // background-color: #ddd;
    }
    img {
    }
    p {
    }
  }

  // Arrow between Evolutions
  .arrow {
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
