@import 'config';

.capitalize {
  text-transform: capitalize;
}

.flexbox {
  display: flex;
}

.evolution-block:hover {
  cursor: pointer;
  size: 115%;
  background-color: #ddd;
}

.types ul {
  list-style-type: none;
  display: flex;

  li {
    color: white;
    font-family: Roboto, sans-serif;
    padding: 1rem;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
